.bookmark-item
{
    display: inline-flex;
    align-items: center;

    & > div
    {
        display: inline-block;
    }

    .gen-number
    {
        width: 30px;
    }

    .star-zone
    {
        width: 30px;
    }

    .icon-zone
    {
        width: 30px;
        height: 30px;
    }

    .title-zone
    {
        font-size: 12px;
    }
}